body {
    background-color: black;
    color: white;

}

main {
    display:flex;
    justify-content: center;
    flex-direction: column;

}

button {
    display:flex;
    margin: 10px;
   
}

.containers {
    display:flex;
    justify-content: center;
  
}

#first-scenario {
    display: flex;
    flex-direction: column;
}

#second-scenario {
    flex-direction: column;
}